<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Index page-home page</title>
</head>

<body>
    <form>

        <div class="header">
			<div class="article">
				<div id="article-1">
				
					
				</div>
				<div id="article-3">
					<p id="center"><a href="/accountmanagement">ManagerAccount</a></p>
					
				</div>
				<div id="article-4">
					<p id="center"><a href="/productmanagement">ManagerProduct</a></p>
					
				</div>
			</div>
		</div>
        <div class="section">

        </div>
		<center>
        <div class="product">
			<div class="picture">
				<img src="https://media.istockphoto.com/vectors/kids-store-products-children-toy-shop-vector-id1201171442" alt="ZenShop"width="500px" height="411px">
				
			</div>
			</center>
		</div>
		<div id="nav">
			<div class="nav-header">
				<div class="title">
	
				</div>
			</div>
		</div>

		</div>
		<div class="footer">
			<div class="system-shop">
				<h3>Shop System</h3>
			</div>
			<div class="list-shop-systems">

				<div class="list-shop-systems-1">
					<p>ZEN Shop - Số 27 Võ Văn Dũng - Đống Đa - Hà Nội</p>
					<p>TEL: 0829887933</p>
					<p>Email:macyzen@gmail.com</p>
				</div>

			</div>
		</div>


    </form>

</body>

</html>