<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="/doinsert" method="post" >
            <div class="form-group">
                <label for="txtName">NewProduct</label>
                <input type="text" name="txtNameProduct" id="txtNameProcduct" class="form-control">
            </div>
            <div class="form-group">
                <label for="txtPrice">Price</label>  
                <input type="int" name="txtPrice" id="txtPrice" class="form-control">  
            </div> 
            <div class="form-group">
                <label for="txtAmount">Amount</label>
                <input type="text" name="txtAmount" id="txtAmount" class="form-control">
            </div>
            <input type="submit" value="add" class="btn btn-default">
        </form>
    </div>
</body>
</html>